<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Backround_Cycler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Backround_Cycler.Properties.Settings>
            <setting name="PicturesFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SubFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LargeImageBehavior" serializeAs="String">
                <value>Stretched</value>
            </setting>
            <setting name="SmallImageBehavior" serializeAs="String">
                <value>Centered</value>
            </setting>
            <setting name="SmallestImageBehavior" serializeAs="String">
                <value>Tiled</value>
            </setting>
            <setting name="LastImageShown" serializeAs="String">
                <value/>
            </setting>
            <setting name="autochange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmallestImageSize" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDialogOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAdvancedOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="change_time" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeIntervelLevel" serializeAs="String">
                <value>Minutes</value>
            </setting>
            <setting name="ChangeOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </Backround_Cycler.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
